.container__stor_page {
    margin: 0;
    padding: 0;
}

.content__stor_page {
    /*display: flex;*/
    background-color: #eae9e9;
}

.container__order_page {
    margin: 0;
    padding: 0;
}

.content__order_page {
    background-color: #eae9e9;
}

.menu__stor_page {
    display: flex;
    padding-left: 0;
    width: 1500px;
}

.form__stor_page {
    display: flex;
    margin-left: 180px;

}

.form__menu {
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    /* float: left; */
    /*margin-left: 150px;*/
    /*margin-left: 130px;*/
    align-items: center;
}

.form__device {

}

.storage__navbar {
    display: flex;
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.hr {
    display: flex;
    /*margin-top: 10px;*/
    width: 100%;
    border: solid 1px;
    color: #dedede;
}