.container_bar {
    display: flex;
    margin-bottom: 20px;
    padding-left: 10px;
}

.bar_btn {
    padding: 11px 13px;
    color: white;
    font-size: 14px;
    border: 2px solid #4f4f4f;
    cursor: pointer;
    border-radius: 13px;
    outline: #4f4f4f;
    margin-right: 4px;
    background-color: #4f4f4f;
}

.content__brand {
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.card__brand {
    cursor: pointer;
    margin-right: 3px;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 5px;
}

.card__brand:hover {
    color: white;
    background-color: teal;
}

.content__condition {
    display: flex;
    padding-top: 18px;
    justify-content: center;
}

.card__condition {
    cursor: pointer;
    margin-right: 3px;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 5px;
    color: white;
    background-color: teal;

}

.card__condition:hover {
    border: 2px solid teal;
    color: #4f4f4f;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 4px;
    padding-right: 8px;
}

.dropdown_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dedede;
    width: 150px;
    height: 80px;
    color: #4f4f4f;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    /*margin-top: 10px;*/
    /*box-shadow: 0 1px 2px 0 rgba(0, 255, 255, 0.7),*/
    /*1px 1px 4px 0 rgba(0, 255, 255, 0.7),*/
    /*    !*2px 4px 8px 0 rgba(0, 255, 255, 0.7),*! 2px 4px 10px 0 rgba(0, 255, 255, 0.7);*/

}

.dropdown_btn:not(disabled){
    border: none;
    background: #dedede;
    color: #5c5c5c;
    content: ' ';
}


.dropdown:hover .dropdown_btn {
    background-color: white;
    color: #3d3d3d;
}

.dropdown_content {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    min-width: 80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown_content select {
    display: none;
    justify-content: center;
    color: #505050;
    padding: 12px 16px;
    text-decoration: #e7e7e7;
    appearance: none;
}

.dropdown__condition {

}

.dropdown_content select:hover {
    background-color: #f1f1f1;
    border: 2px solid #62D9D9;
    border-radius: 5px;
}

.dropdown:hover .dropdown_content {
    display: block;
}


body, .nav, .menu {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}

.dropdown-toggle{
    /*background-color: #62D9D9;*/
}

.nav {
    /*min-width: 80px;*/
    /*position: absolute;*/
    /*padding: 30px;*/
    position: relative;
    background-color: #fff;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2);
}

.menu {
    height: 50px;
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 350px;
}

.link {
    /*list-style: none;*/
    margin: 0 10px;
    border: none;
    background-color: transparent;
}

.link a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.link:hover {
    color: #62D9D9;
}

.nav input {
    width: 35px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 18px;
    width: 20px;
    height: 4px;
    border-radius: 50px;
    background-color: #62D9D9;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(0) rotate(90deg);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

.nav span:nth-child(3) {
    transform: translateY(0);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
body, .nav, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: relative;
    background-color: #fff;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .menu {
    width: 350px;
}

.link {
    /*list-style: none;*/
    margin: 0 10px;
    border: none;
    background-color: transparent;
}

.link a {
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
}

.link:hover {
    color: #62D9D9;
}

.nav input {
    width: 35px;
    height: 30px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 18px;
    width: 20px;
    height: 4px;
    border-radius: 50px;
    background-color: #62D9D9;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(0) rotate(90deg);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(0);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}