.container_bar {
    display: flex;
    margin-bottom: 20px;
    padding-left: 10px;
}

.bar_btn {
    padding: 11px 13px;
    color: white;
    font-size: 14px;
    border: 2px solid #4f4f4f;
    cursor: pointer;
    border-radius: 13px;
    outline: #4f4f4f;
    margin-right: 4px;
    background-color: #4f4f4f;
}

.content__brand {
    padding-top: 18px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.card__brand {
    cursor: pointer;
    margin-right: 3px;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 5px;
}

.card__brand:hover {
    color: white;
    background-color: teal;
}

.content__condition {
    display: flex;
    padding-top: 18px;
    justify-content: center;
}

.card__condition {
    cursor: pointer;
    margin-right: 3px;
    padding: 10px;
    border: 2px solid teal;
    border-radius: 5px;
    color: white;
    background-color: teal;

}

.card__condition:hover {
    border: 2px solid teal;
    color: #4f4f4f;
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 4px;
    padding-right: 8px;
}

.dropdown_btn {
    background-color: #4f4f4f;
    width: 150px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    margin-top: 30px;
    box-shadow: 0 1px 2px 0 rgba(0, 255, 255, 0.7),
    1px 1px 4px 0 rgba(0, 255, 255, 0.7),
        /*2px 4px 8px 0 rgba(0, 255, 255, 0.7),*/ 2px 4px 10px 0 rgba(0, 255, 255, 0.7);


}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #4f4f4f;
    min-width: 80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown_content a {
    color: white;
    padding: 12px 16px;
    text-decoration: #3d3d3d;
    display: flex;
    justify-content: center;
}

.dropdown__condition {

}

.dropdown_content a:hover {
    background-color: #3d3d3d;
    border: 2px solid #3d3d3d;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown:hover .dropdown_btn {
    background-color: #00FFFFB2;
    color: #3d3d3d;
}

