.content__device_list {
    height: 230px;
    width: 230px;
    display: inline-grid;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 20px;
    padding-top: 20px;
    border-radius: 20px;
    background-color: #90ffff;
}

.card_name {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 5px;
}

.card__btn_item {
    display: flex;
    justify-content: space-between;

}

.btn_buy {
    width: 50px;
    height: 35px;
    border-radius: 45px;
    /*background-color: white;*/
    border: none;
    background-image: image('src/assets/buy.png') ;

}

.btn_desc {
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: white;
    border: none;
}

/*.card__btn{*/
/*    width: 50px;*/
/*    height: 35px;*/
/*    border-radius: 45px;*/
/*    background-color: white;*/
/*    border: none;*/
/*}*/

.card__device_list {
    width: 80%;
    height: 80%;
    cursor: pointer;
    border: #4f4f4f;

}

.image__device_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
}


.row__device_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 90%;
    max-width: 800px;
    padding: 20px 20px;
    margin: 10px 40px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(80px);
}

/*.card__btn_content {*/
/*    width: 100px;*/
/*    */
/*}*/
