.content__device_list {
    display: inline-grid;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-right: 30px;

    /*border: 3px solid;*/
    border-radius: 20px;
    background-color: #1fffe5;
}

.card_name {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;
    padding: 5px;
}

.card__device_list {
    width: 80%;
    height: 80%;
    cursor: pointer;
    border: #4f4f4f;
}

.image__device_list {
    width: 150px;
    height: 150px;
}

.storage__menu_btn{
    display: flex;

}

.row__device_list {
    margin: 50px 30px 0 0 ;
    border: 2px solid;
    border-radius: 30px;
}

/*.card__btn {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    margin-top: 5px;*/
/*}*/

/*.card__btn_content {*/
/*    width: 100px;*/
/*    */
/*}*/
