@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://kit-free.fontawesome.com/releases/latest/css/free.min.css');

.container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*box-sizing: border-box;*/
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
}


.sidebar {
    /*padding-top: 30px;*/
    /*position: fixed;*/
    display: flex;
    flex-direction: column;
    left: 0;
    padding-top: 50px;
    width: 200px;
    background-color: #fff;
    position: absolute;
    z-index: 0;
    height: 100%;
    overflow: auto;
    transition: background-color 2s ease-in;
}

.sidebar__highlight {
    height: 55px;
    width: 55px;
    background-color: #6A86D9;
    border-radius: 50%;

    position: absolute;
}

.sidebar a {
    display: block;
    color: black;
    padding: 15px 30px;
    text-decoration: none;
}

 .sidebar a span {
    font-size: 14px;
    position: relative;
    z-index: 999;
    transition: all 0.2s;
}

.sidebar a span i {
    opacity: 0;
    transition: opacity 0.5s;
}

.sidebar a:hover span {
    margin-left: 10px;
}

.sidebar a:hover span i {
    opacity: 1;
}


.sidebar a.active {
    background-color: #62D9D9;
    color: white;
    border-radius: 15px;
}


.sidebar a.active span i{
    opacity: 1;
}


.text-active {
    margin-left: 10px;
}

.text-active::before {
    content: "";
    /*font-family: 'Font Awesome 5 Free';*/
}

.sidebar a:hover:not(.active) {
    background-color: #8d8d8d;
    color: white;
    border-radius: 15px;
}
