.dropdown_container {
    position: relative;
    display: inline-block;
    margin-top: 4px;
    border: none;
}

.dropdown_btn {
    background-color: teal;
    width: 200px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    margin:20px 15px 1px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: #3d3d3d;
    display: flex;
    justify-content: center;
}

.dropdown_content a:hover {
    background-color: #f1f1f1;
    border: 2px solid teal;
}

.dropdown_container:hover .dropdown_content {
    display: block;
}

.dropdown_container:hover .dropdown_btn {
    background-color: #52f6b6;
    color: #3d3d3d;
}