.container__modal {
    font-family: futura-pt, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3d3d3d;
    flex-direction: column;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.container__modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 250px;
    padding: 25px;
    background: white;
    border-radius: 16px;
    min-width: 250px;
}

.modal__btn {
    padding-top: 10px;
    display: flex;
}

.modal__input {
    width: 90%;
    padding: 13px;
    border: none;
    border-radius: 13px;
    font-size: 1rem;
    outline: none;
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, .3);
    margin: 10px 8px;
}

.modal__dropdown {
    position: relative;
    display: inline-block;
    margin-top: 4px;
}

.modal__dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;

}

.modal__dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: #3d3d3d;
    display: flex;
    justify-content: center;
}

.modal__dropdown_btn {
    background-color: teal;
    width: 300px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 13px;
    margin-bottom: 8px;
}


.modal__dropdown_content a:hover {
    background-color: #f1f1f1;
    border: 2px solid teal;
}

.modal__dropdown:hover .modal__dropdown_content {
    display: block;
}

.modal__dropdown:hover .modal__dropdown_btn {
    background-color: #52f6b6;
    color: #3d3d3d;
}

.modal__footer_btn {
    display: flex;
    padding-top: 8px;
    align-items: center;
}