.container__device_page {
    display: flex;
    margin: 20px 20px;
}

.card__img {
    width: 230px;
    height: 230px;

}

.card__desc {
    width: 800px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}