/*.container__device_page {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    width: 500px;*/
/*}*/

.container__device_page {
    width: 100%;
    height: 100%;
}


.card__bar {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.card__btn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #dedede;
    border-radius: 20px;
    width: 500px;
    height: 90px;
}

.card__devices {
/*display: flex;*/
}

.card__items {

}

.card__pages {

}