.container__stor_page {

}

.content__stor_page {

}

.nav__stor_page {

}

.menu__stor_page {

}

.form__stor_page {
    display: flex;
    background-color: #5c5c5c;
    width: 500px;
    height: 500px;
    border: 3px solid gray;
    border-radius: 30px;
}

.form__menu {
    padding: 50px 200px;
    float: left;
}

.form__device {

}