.container__stor_page {
    margin: 0;
    padding: 0;
}

.content__stor_page {
    /*display: flex;*/
    background-color: #eae9e9;
}


.menu__stor_page {
    display: flex;
    padding-left: 0;
}

.form__stor_page {
    display: flex;
    margin-left: 180px;

}

.form__menu {
    padding: 30px 50px;
    float: left;
}

.form__device {

}

.navbar {
    display: flex;
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.hr {
    display: flex;
    /*margin-top: 10px;*/
    width: 100%;
    border: solid 1px;
    color: #dedede;
}