.myInput {
    width: 70%;
    margin: 10px auto;
    padding: 15px 20px;
    border: none;
    border-radius: 13px;
    font-size: 1rem;
    outline: none;
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
    inset -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    inset 2px 2px 8px rgba(0, 0, 0, .3);
}