.menu{
    position: absolute;
    width: 180px;
    height: 100%;
    color: #3d3d3d;
    left: 0;
}

.btn {
    position: relative;
    background-color: #3d3d3d;
    cursor: pointer;
}

.menu_content{
    width: 100%;
    height: 100%;
    background: #4f4f4f;
    display: flex;
    flex-direction: column;
}

a {
    font-size: 15px;
    color: #f1f1f1;
    display: flex;
    text-decoration: none;
    padding: 35px 50px 1px;
    margin-top: 100px;
}